<aside class="sidebar">
    <div class="sidebar-title">Tools</div>
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" href="index.html" data-path="index.html">
          JSON Formatter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="image-to-base64.html" data-path="image-to-base64.html">
          Image to Base64
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="url-encoder.html" data-path="url-encoder.html">
          URL Encoder / Decoder
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="jwt-decoder.html" data-path="jwt-decoder.html">
          JWT Decoder
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="text-notes.html" data-path="text-notes.html">
          Text Notes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="sample.html" data-path="sample.html">
          Sample
        </a>
      </li>
    </ul>
  </aside>
  